{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AutoGuru</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <br></br>
        <header class="py-5 bg-dark">
            <div class="container px-4 px-lg-5">
                <h1 class="m-0 text-center text-white">All Vehicles</h1>
            </div>
            <p class="m-0 text-center text-white"> List of all vehicles and information.</p>
        </header>
        <br></br>
        <div class="container">
            {% for idSpecs in idSpecs  %}
            <!-- Collapsable Button Section -->
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"> Vehicle {{ idSpecs.vin_number }} </a>
            </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card" style="width: fit;">
                        <!-- Corrasel Here for Images Slides -->
                        <img src="{{ idSpecs.image.url }}" class="img-fluid" alt="...">         
                        <!-- Corrasel Here for Images Slides -->
                        <div class="card-body">
                          <h5 class="card-title">  VIN NUMBER </h5>
                          <p class="card-text">{{ idSpecs.vin_number }}</p>
                        </div>
                        <div class="card" style="width: fit;">
                            <!-- Start od Corrasel Here for Images Slides -->
                            
                            <!-- End Corrasel Here for Images Slides -->
                        </div>
                        <!-- Table with vehicle identification and Specifications here -->
                        <ul class="list-group list-group-flush">
                            <div class="card-header">
                                Identification and Specifications
                              </div>
                            <table  class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Vehicle ID</td>
                                    <td> {{ idSpecs.vehicle_id }} </td>
                                  </tr>
                                  <tr>
                                    <td>Make</td>
                                    <td>{{idSpecs.make}}</td>
                                  </tr>
                                  <tr>
                                    <td>Model</td>
                                    <td>{{ idSpecs.model}}</td>
                                  </tr>
                                  <tr>
                                    <td>Body Type</td>
                                    <td>{{ idSpecs.body_type}}</td>
                                  </tr>
                                  <tr>
                                    <td>Manufacture Year</td>
                                    <td>{{ idSpecs.manufacture_year}}</td>
                                  </tr>
                                  <tr>
                                    <td>Engine Code</td>
                                    <td>{{ idSpecs.engine_code }}</td>
                                  </tr>
                                  <tr>
                                    <td>Powetrain Power</td>
                                    <td>{{ idSpecs.powertrain_power}}</td>
                                  </tr>
                                  <tr>
                                    <td>Transmission Type</td>
                                    <td>{{idSpecs.transmission_type}}</td>
                                  </tr>
                                </tbody>
                              </table>
                          </ul>    
                        <!-- Table with vehicle indentification and Specifications here -->
                          <!-- Table with vehicle information here -->
                          <ul class="list-group list-group-flush">
                            <div class="card-header">
                                AutoGuru 160-Point Inspection
                              </div>
                            <table  class="table table-striped">
                                <tbody>
                                  <tr>
                                    <td>Inspection Code</td>
                                    <td>{{ Inspect.inspection_code}}</td>
                                  </tr>
                                  <tr>
                                    <td>Year</td>
                                    <td>Inspect.</td>
                                  </tr>
                                  <tr>
                                    <td>Result</td>
                                    <td>Engine Code</td>
                                  </tr>
                                  <tr>
                                    <td>AG Rating</td>
                                    <td>Transmission Type</td>
                                  </tr>
                                  <tr>
                                    <td>Inspection Date</td>
                                    <td>Toyota</td>
                                  </tr>
                                  <tr>
                                    <td>Link to Results</td>
                                    <td>HATCHBACK</td>
                                  </tr>
                                </tbody>
                              </table>
                          </ul>    

                        <!-- Table with vehicle information here -->
                      </div>
                  </div>
                
              </div>
            {% endfor %}
             <!--End of Collapsable Button Section --> 
        </div>




    </div>
      <br></br>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
